.footer {
    padding-top: 70px;
    padding-bottom: 30px;
    background: #F6F6F8;

    &__footer {
        @extend %subtitle-style;
    }

    &__contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width:768px) {
            display: block;
        }
    }


    &__contact {
        display: flex;
        align-items: center;
        gap: 10px;
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }

    &__title {
        margin-bottom: 35px;
        text-align: center;
        @media screen and (min-width:768px) {
            text-align: left;
        }
    }


    &__link {
        @extend %subtext-style;
    }

    &__list {
        @include grids-list(40px);
        padding-bottom: 70px;
        border-bottom: 1px solid #E0E0E0;
    }

    &__copy {
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        text-align: center;
        margin-top: 30px;

        color: #999999;
    }


    &__item {
        @include grids-item(1, 30px);
        @media screen and (min-width:768px){
            @include grids-item(2, 30px);
        }
        @media screen and (min-width:1200px){
            @include grids-item(4, 30px);
        }
    }

    &__icon {
        fill: #999999;
        ;
    }

}