.header{
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid rgba(161, 161, 161, 0.5);
}

.header__list{
    display: flex;
    gap: 40px;
    justify-content:right;   
}

.header__link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #FFFFFF;
    position: relative;
}
.header__active::before{
    position: absolute;
    bottom: -41px;
    right: -20px;
    display: block;
    width:calc(100% + 40px);
    height: 2px;
    background: #FFFFFF;
    content: "";
}