body {
    font-family: 'Montserrat';
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width:768px) {
        max-width: 768px;
    }

    @media screen and (min-width:1155px) {
        max-width: 1155px;
    }

    outline: 1px solid red;
}

img {
    width: 100%;
}