@mixin section-title($color: $title-color){
    font-weight: 700;
    font-size: 36px;
    line-height: 1.47;
    text-align: center;
    color: $color;
}
@mixin grids-list($gap) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $gap;
}
@mixin grids-item($items, $gap) {
    width: calc((100% - ($items * $gap)) / $items);
}