.hero{
    &__tagline{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        text-align: center;
        color: #FFFFFF;
    }
    &__title{
        font-weight: 800;
    font-size: 48px;
    line-height: 1.3;
    text-align: center;
    color: #FFFFFF;
    }
    &__button{
        font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #FFFFFF;
    }
}


