.hero {
    background: no-repeat url(../../img/hero-desktop1x.jpg);
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 319px;
    padding-bottom: 355px;
    &__tagline {
        @media screen and (min-width:320px) {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.25;
            text-align: center;
            color: #FFFFFF;
        }
        
    }

    &__title {
        @media screen and (min-width:320px){
            font-weight: 800;
            font-size: 24px;
            line-height: 1.3;
            text-align: center;
            color: #FFFFFF;
            max-width: 829px;
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (min-width:768px){
            font-size: 36px;
        }
        @media screen and (min-width:1200px){
            font-size: 48px;
        }
    }

    &__button {
        @extend %button-style;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

}