.qualities{
    &__title{
        @include section-title();
    }
    &__text{
        @extend %description-style;
    }
    &__name{
        @extend %subtitle-style;
    }
    &__description{
        @extend %subtext-style
    }
}