.qualities {
  padding-top: 110px;
  padding-bottom: 105px;
  &__title {
    max-width: 739px;
    @include section-title();
    @media screen and (min-width: 320px) {
      font-size: 24px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 32px;
    }
    @media screen and (min-width: 768px) {
      font-size: 36px;
    }
  }

  &__text {
    @extend %description-style;
    max-width: 730px;
    margin: 0 auto 70px;
  }

  &__name {
    @extend %subtitle-style;
  }

  &__description {
    @extend %subtext-style;
  }

  &__button {
    @extend %button-style;
    margin: 55px auto 0;
    display: block;
  }

  &__list {
    @include grids-list($gap: 27px);
    flex-wrap: wrap;
  }

  &__item {
    // @include grids-item(3, 27px);
    width: calc((100% - (1 * 27px)) / 1);
    display: flex;
    @media screen and (min-width: 768px) {
      width: calc((100% - (3 * 27px)) / 3);
    }
  }

  &__icon {
    fill: #4985ff;
  }

  &__circle {
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
  }

  &__circle-in {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4985ff;
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }

  &__box {
    padding-top: 46px;
  }

  // &__item::before {
  //     background: no-repeat center url(../../img/project.svg#clip0_1_351);
  //     content: "";
  //     display: block;
  //     position: absolute;
  //     border: 1px solid #4985FF;
  //     border-radius: 50%;
  //     width: 90px;
  //     height: 90px;
  // }
}
