.services {
  background: linear-gradient(180deg, #504dc2 50%, #ffffff 50%);

  &__title {
    max-width: 540px;
    @include section-title($accent-color);
    text-align: left;
  }

  &__name {
    @extend %subtitle-style;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__description {
    @extend %description-style;
    text-align: left;
    margin-bottom: 47px;
  }

  &__button {
    @extend %button-style;
    margin-left: auto;
    margin-top: 55px;

    @media screen and (min-width: 768px) {
      margin-top: 0px;
    }
  }

  &__list {
    @include grids-list(30px);
    display: flex;
  }

  &__item {
    @include grids-item(1, 30px);

    @media screen and (min-width: 768px) {
      @include grids-item(3, 30px);
    }
  }

  &__link {
    text-decoration-line: underline;
    color: $link-color;
  }

  &__number {
    color: $link-color;
  }

  &__box {
    padding-top: 100px;
    margin-bottom: 70px;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__line {
    border: 1px solid #e0e0e0;
    margin-top: 85px;
    margin-bottom: 85px;
  }

  &__img {
    overflow: hidden;
    border-radius: 25px;
  }
}
