.standarts {
    background-color: #F6F6F8;
    padding: 100px 0 70px 0;
    &__title {
        @include section-title();
        text-align: left
    }
    &__text {
        @extend %description-style;
        color: $main-text-color;
    }
    &__img {
        margin-top: 40px;
        max-width: 400px;
        @media screen and (min-width:768px) {
            margin-top: 0;
        }
    }
    &__list {
        @include grids-list(100px);
        @media screen and (min-width:320px) {
            display: none;
        }
        @media screen and (min-width:768px) {
            display: flex;
            justify-content: left;
            border-top: 1px solid #E0E0E0;
            padding-top: 70px;
            margin-top: 90px;
        }
        @media screen and (min-width:1200px) {
            justify-content: center;
        }
    }
    &__link {
        color: $link-color;
        text-decoration-line: underline;
    }
    &__item {
        @include grids-item(5, 100px);
    }
    &__box {
        @media screen and (min-width:320px){
            justify-content: space-between;
            align-items: center;
        }
        @media screen and (min-width:768px) {
            display: flex;
        }
    }
    &__content {
        max-width: 489px;
    }
    &__description {
        margin: 60px 0 42px 0;
        @extend %subtext-style;
    }
    &__svg {
        fill: #4985FF;
    }
    &__item-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__number {
        font-size: 36px;
    }
}