.standarts {
    background-color: #F6F6F8;
    padding: 100px 0 70px 0;
    &__title {
        @include section-title();
        text-align: left
    }
    &__text {
        @extend %description-style;
        color: $main-text-color;
    }
    &__img {
        width: 500px;
        height: 400px;
    }
    &__list {
        @include grids-list(100px);
        border-top: 1px solid #E0E0E0;
        padding-top: 70px;
        margin-top: 90px;
    }
    &__link {
        color: $link-color;
        text-decoration-line: underline;
    }
    &__item {
        @include grids-item(5, 100px);
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content {
        max-width: 489px;
    }
    &__description {
        margin: 60px 0 42px 0;
    }
    &__svg {
        fill: #4985FF;
    }
    &__item-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__number {
        font-size: 36px;
    }
}