.subscribe {
    padding-top: 85px;
    text-align: center;
    &__text {
        @extend %description-style;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    &__title{
        @extend %subtitle-style;
    }
    &__form{
        align-items: center;
        display: flex;
        max-width: 489px;
        height: 45px;
        border: none;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        border-radius: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    &__input::placeholder {
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
    }
        
    
    &__input{
        height: 100%;
        border: none;
        width: 100%;
        border-radius: 30px 0px 0px 30px;
        padding-left: 33px;
    }
    &__button{
        display: block;
        background-color: $button-color;
        border-radius: 0px 30px 30px 0px;
        border: none;
        height: 47px;
        width: 190px;
        color: $accent-color;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
    }
    &__subtext{
        margin-top: 35px;
        padding-bottom: 85px;
        color: $main-text-color;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.62;
    }

}