.video {
    background: url("../../img/video-desktop@1x.jpg");
    background-size: 1920px 570px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    padding-top: 70px;
    &__title {
        @include section-title($accent-color);
    }
    &__text {
        @extend %description-style;
        color: $accent-color;
        margin-top: 30px;
    }
    &__content{
        margin: 70px auto 0;
        width: 970px;
        height: 430px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        background: url("../../img/videoContent-desktop@1x.webp");
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__button{
        background: transparent;
        border: 1px solid $accent-color;
        border-radius: 200px;
        width: 300px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 21px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.56;
        color: $accent-color;
    }
    &__svg{
        width: 60px;
        height: 60px;
        background-color: $button-color;
        border-radius: 50%;
    }
    &>.container{
        border-bottom: 1px solid $border-color;
        padding-bottom: 85px;
    }
}